/* LXGW Bright Font */
@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGWBright-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGWBright-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGWBright-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGWBright-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGWBright-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGWBright-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGWBright-Medium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW Bright';
    src: url('/fonts/LXGWBright-Medium.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
